
#logo {
  top: 0px;
  left:80px;
  width:75px;
  position: fixed;
}


#yan {
  position: absolute;
  top: 36px;
  left: 120px;
  width: 38px;
  height: 38px;
  background:url(".logo-animation/yan-01.svg")

    mix-blend-mode: multiply;
    -webkit-animation: 5s infinite;
    -webkit-animation: 5s infinite;
}
.logo #yan:nth-child(1) {
  -webkit-animation-name: rotate-1;
          animation-name: rotate-1;
}
/*1 lun*/
@-moz-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-o-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
